* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

body {
    font-family: 'Patron-Regular', sans-serif;
}

main, footer{
    width: 640px;
    padding: 15px;
    margin: 20px auto;
}
    main {
        background-color: #E8E8E6;
        text-align: center;
    }


header  img {
margin: 10px 0 ;

}
/* section TEAS */
section.teas header{
padding: 30px 70px;

}
section.tea-types {
    display: flex;
    gap: 15px;
}
article.tea {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    flex:1;
}
article.tea > * {
    flex: 1;
    gap: 5px;
}

article.tea a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 15px;

    flex: 0;
}
.tea-types {
    display: flex;
    gap:15px;
 
}

section.teas header {
    padding: 30px 70px;
}

.tea-types .teas > * {
  flex:1;
  gap: 5px;

}  
 
aside {
    padding:30px 0;
}
.promo {
    border-top: 2px solid gray;
    margin-top: 50px;
    padding: 35px 0;
}

footer {
    text-align: center;
}

footer ul {
    list-style: none;

    display: flex;
    gap: 10px;

    margin-bottom: 50px;
}

footer ul li {
    flex: 1;
}
