* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    font-family: 'Patron-Regular', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: rgb(235, 235, 235);
}

main {
    width: 640px;
    margin: 0 auto;
    background-color: rgb(230, 226, 226);


}
header {
    padding: 40px 0;
}
header > img {
margin: 30px 0 ;

}
.titulo{
display: flex;
justify-content: center;
margin: 30px 0 ;

}
.btn {
    padding: 0.6em 0.9em;
    background-color: rgb(2, 3, 10);
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}
.artigos {
    display: flex;
    justify-content: space-evenly;
    padding:40px 0px;
    border-bottom: 3px solid darkslategray;   
}
.artigos div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 177px;
    margin: 0 auto;
    gap: 5px; 
  
}
aside {
    padding:30px 0;
}
.contactos {
    border-top: 3px solid darkslategray;
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    text-align: center;
    padding: 30px 20px;
}
.contactos div {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 150px;
}
.contactos img {
    max-width: 100px; /* Ajuste conforme necessário */
    height: auto;
}
footer {
    padding-bottom: 50px;
}