h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 4.2em;
    font-weight: 200;
}
.artigos h1  {
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 200;
}
h2 {
    text-transform: uppercase;
    font-size: 1em;
 
}
aside h2 {
    text-transform:none;
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 200;
}