h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 4.2em;
    font-weight: 200;
}
.artigos h1  {
    font-family:'Times New Roman', Times, serif;
    font-size: 2.3em;
    font-weight: 200;
}