:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

/*   background-color: rgb(170, 170, 170); */
  margin: 0 auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
