@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


/* ------------------------------- html e css */
body {
    display: flex;
    font-family: "Montserrat", serif;
    font-weight: 400;
    justify-content: center; 

}
main {
    background-color: blanchedalmond;
    width: 750px;
    min-width: 650px;
    max-width: 750px;
    text-align: center;   
    align-items: center; 

}
header {
    background-color: aliceblue;
    padding: 20px;
    border-bottom: 2px solid rgb(80, 77, 77) ;  
    padding-bottom: 20px;
}
header p {
    padding-top: 20px;
    font-size: 33px
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    color: orange;
}

.content {
display: flex;
padding: 30px 0;   
max-width: 750px;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;

border-bottom: 2px solid rgb(80, 77, 77)  ;    

}
.content img {
    width: 200px;
    border-radius: 15px;
    border-color: rgb(212, 153, 23);
    border-style:groove;
    margin: 20px;
    margin-top: 30px;

    transition: transform 0.3s ease-in-out;
}
.content img:hover {
    transform: scale(1.4);
    border: 3px solid orange;

}
.content a {
    text-decoration: none;
    padding-bottom: 20px;

}
.content p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}
.content h1 {
    font-family: "Merriweather", serif;
    color: rgb(5, 5, 27);
    font-weight: 300;
    font-style: normal;;
}
footer{
    padding: 30px 0;
    background-color: aliceblue;
}