@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$default-font-size: 1rem;
$font-principal: "Bebas Neue", sans-serif;
$font-secondary: "Albert Sans", sans-serif;

$black-color: black;
$light-color: white;
$bg-dark-color: #5A5A5A  ;
$bg-dark-color2: #353434  ;
$icons-color:  #F0F900




 