* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

@font-face {
    font-family: Patron-Regular;
    src: url(fonts/Patron-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Patron-Regular', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: lightgray;
}

main {
    width: 1200px;
    margin: 0 auto;
    background-color: white;

}

/* ---------------- header  -------*/
header {


    background-color: rgba(176, 193, 204, 0.445);
    padding-bottom: 50px;

}

header img {
    width: 1200px;
}

.text-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 790px;
    margin: auto;
}

/* -------------botao------------------ */

a.btn {
    padding: 0.6em 0.9em;
    margin: 10px;
    background-color: rgb(211, 50, 50);
    color: white;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin: auto;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-top: 50px;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 34%;
    text-align: left;
    align-items: flex-start;

}

.container-img {
    max-width: 400px;
    height: auto;
    padding-right: 500px;
}

.container:nth-child(even) {
    flex-direction: row;
}

.container2 {
    background-color: rgba(176, 193, 204, 0.445);
    display: flex;
    gap: 10px;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 30px;

}

.downloads {
    padding-top: 50px;
    display: flex;
    background-color: rgba(165, 250, 250, 0.884);
    justify-content: space-between;

    height: 630px;
}

.text-contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 360px;
    height: 600px;
    gap: 30px;

}

.botoes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.botoes img {
    width: 150px;
}

footer {
    background-color: rgb(37, 37, 37);
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    background-color: rgb(43, 41, 41);
}

footer .p1 {
    width: 550px;

}

footer .p2 {
    width: 1000px;

}

footer .p3 {
    width: 550px;

}