.Car-Section {
  width: 80%;
  margin: auto;
  background-color: #E0E0E0;
  color: #000000;
  padding: 5rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Ajustado para card maior */
  gap: 0.7rem;
  justify-items: center;
}

.card {
  width: 500px;
  height: 750px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.img-carro {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.8rem;
}

.card h1 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card p {
  font-size: 1.1rem;
  margin: 0.3rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.5rem;
  font-size: 1.1rem;
  background-color: #e60b0b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #a80808;
}
.info-row {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 0.6rem;
  font-size: 2.1rem;
  color: #333;
  margin: 0.3rem 0;
}

.icon {
  font-size: 1.3rem;
  width: 24px; 
  text-align: center;
  color: #e60b0b;
}

