.opportunity {
  margin-bottom: 1rem;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.car-highlight-Opportunity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.car-info-Opportunity {
  flex: 1;
  font-size: 0.9rem;
  color: #333;
}

.car-info-Opportunity h3 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

/* 🔥 Ícones ajustados */
.info-icons-Opportunity {
/*   background-color: rgba(209, 209, 209, 0.582); */
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2.5px;
  gap: 2.6rem; 
  flex-wrap: wrap; 
}

.info-row-Opportunity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.15rem; /* diminui espaço entre ícone e texto */
  font-size: 0.9rem; /* legenda menor */
  color: #333;
}

.icon-Opportunity img {
  width: 25px; /* ícones menores */
  height: 25px;
}

.price-Opportunity {
  margin: 0.15rem 0;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  color: #e60b0b;
}

.img-container-Opportunity {
  position: relative;
  width: 600px;
  max-width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.img-container-Opportunity img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.label-Opportunity {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0047abcc;
  color: white;
  padding: 5px 10px;
  font-size: 1.25rem;
  font-weight: bold;
  user-select: none;
  border-top-right-radius: 5px;
}

.btn-Opportunity {
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #e60b0b;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-Opportunity:hover {
  background-color: #b00707;
}
