header .header-h1 {  
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


 
    
}
.shadow {
    text-shadow: 
    -1px -1px 2px black, 
     1px -1px 2px black, 
    -1px  1px 2px black, 
     1px  1px 2px black;
}
header a  {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;


}
nav li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
section h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.5em;
}
section p {
    text-align: left;
    font-size: 1em;
}

.info a {
    text-decoration: none;
    display: inline-block;
    padding: 0.4em 1.8em;
    margin: 10px;
    box-shadow: 1px 1px 4px rgb(133, 133, 125) ;
    background-color: rgb(165, 0, 0);
    color: white;
}
.news h2 {
    font-size: 1em;
    color: #af0000;
}
