@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font: {
        family:$font-stack ;
        size: 16px;
    }
header {
    background-color: $bg-color;
    nav{
    display: flex;
    justify-content: space-between;    
    li {
       list-style: none;
       color: $light-color;
    }
  }

}
footer{
   margin-top: 20px;
}
}

section {
&.container-news {
background-image: url('../images/landing-page-banner.jpg'); 
margin: 20px;
height: 250px;
display: flex;
justify-content: space-between;
flex-direction: column;
background-size: cover;
background-position: center;
border-radius: 20px;
text-align: start;
padding: 40px 15px;
color: $light-color;

}
p {
    width: 500px;
}
a {
    &.btn-white{
    text-decoration: none;
    color: $light-color;
    padding: 0.6em 0.9em;
    width: auto;
    max-width: 150px;
    margin:10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
 }
    &.btn-green{
    text-decoration: none;
    color: green;
    padding: 0.6em 0.9em;
    width: auto;
    max-width: 150px;
    margin: 10px;
    border: 2px solid rgb(8, 180, 31);
    border-radius: 10px;
 }

}

}
section {
    &.artigos{
    text-align: center;

    p {
        padding-bottom: 20px;
    }
    }
    }   
    footer
     address{
        width: 100%;
        background-color:rgb(92, 86, 86) ;
        text-align: center;
        padding: 10px;

    }
    @media screen and (min-width:800px){
        header{
            nav{
                display: flex;
                justify-content:start;   
                padding: 10px;
            }
            li {
                display: inline-block;
                padding: 20px 20px;
        }
    }


        section {
            &.container-news { 
                margin: 50px;
                height: 400px;
                h1{
                    font-size:$default-font-size * 3;
                    width: 300px;
                }
                p {
                    width: 300px;
                }
            }
            
        }   
        section {
            &.artigos{
                display: flex;
                flex-wrap: wrap;
                margin: 50px;

            }
        }   
    }
    footer{
        display:flex;
        justify-content: space-between;
        background-color:rgb(92, 86, 86) ;
        p{
            color: $light-color;
            padding: 20px ;
        }
        address{
           width: auto;
           text-align:end;
           padding: 10px;
   
          }      
        }